{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Cozy & Kindled</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
    At Cozy & Kindled we create handcrafted soy candles that bring warmth, comfort,
    and a soothing ambiance to your home. Our candles are made from natural ingredients,
    thoughtfully designed to elevate your space with delightful scents and a touch of cozy charm.
    Each candle is crafted with care, reflecting our passion for quality and sustainability.
</p>
<h2>Our Story</h2>
<p align="justify">
    We’re two friends who turned a shared passion for home décor into a small business built
    on creativity and sustainability. What started as a fun weekend project soon evolved
    into crafting hand-poured candles that bring warmth and relaxation into everyday life.
    Inspired by nature and the desire to create something meaningful, we carefully select
    each ingredient to ensure our candles are both eco-friendly and beautifully made.
    Our mission is simple: to help you create moments of calm and comfort, one candle at a time.
</p>
                        <h2>Why Shop with Us?</h2>
<p><ul>
                        <li>Handcrafted with Love: Every candle is poured by hand, ensuring a personal touch in every product.</li>
                        <li>Eco-Friendly: We use 100% natural soy wax, clean-burning wicks, and eco-conscious packaging.</li>
                        <li>Sustainable: Our commitment to sustainability means you can enjoy our candles guilt-free, knowing they’re made with the planet in mind.</li>
                        <li>Unique Scents: Carefully curated fragrances that transform any space into a cozy haven.</li>
                        <li>Experience the warmth and care that go into every Cozy & Kindled candle, and let us help you make your home feel truly special.</li>

                    </ul>
                        </p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}