{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Password Reset Done</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <div class="text-center mb-4">
                <p class="lead fw-normal" style="font-size: 1.1rem;">
                    We have sent you an email with instructions to reset your password.
                    Please check your inbox (and your spam folder just in case) for the email and
                    follow the instructions provided.</p>
            </div>

            <h5 class="fw-bold mt-5">Next Steps:</h5>
            <div style="margin-left: 20px;">
                <p>• Check Your Email: Look for an email titled "Password Reset Instructions."</p>
                <p>• Return to Login: <a href="{% url 'login' %}">Click here to go to the login page.</a></p>
            </div>

            <p class="mt-4">If you don’t receive the email within a few minutes, please try again or
                <a href="mailto:cozyandkindled@gmail.com">contact support.</a></p>

            <div style="margin-top: 80px;"></div>
        </div>
    </div>
</div>

{% endblock %}
