{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Password Reset Completed</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-8 mx-auto mt-5">
            <div class="card shadow-sm border-0 rounded-3 text-center p-4" style="margin-top: 50px;">
                <h5>Your password has been successfully reset.</h5>
                <p>You may now <a href="{% url 'login' %}" class="fw-bold">sign in</a> to your account.</p>
            </div>

            <div style="margin-top: 80px;"></div>
        </div>
    </div>
</div>

{% endblock %}
