{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Set a New Password</h1>
            <p class="lead fw-normal text-white-50">Enter your new password below.</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <!-- Submit Button -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-secondary">Reset Password</button>
                </div>
            </form>

            <p class="text-center mt-4">
                <a href="{% url 'login' %}" class="btn btn-link">Return to Login</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}

