{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Password Reset</h1>
        </div>
    </div>
</header>

<!-- Password Reset Form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-5 mx-auto mt-5">
            <!-- Card Wrapper -->
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body p-5">
                    <!-- Form Header -->
                    <h4 class="text-center mb-4">Password Reset</h4>
                    <p class="text-muted text-center mb-4">
                        Enter your email address, and we’ll send you a link to reset your password.
                    </p>

                    <!-- Form -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group text-center">
                            <div class="mx-auto" style="width: 80%;">
                                {{ form.as_p }}
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-secondary btn-block">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 80px;"></div>

{% endblock %}
