<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation - Thank You for Your Purchase!</title>
</head>
<body>
    <p>Dear {{ name }},</p>
    <p>thank you for shopping with Cozy & Kindled! <br> We are excited to let you know that your order has been successfully placed and your payment was received.</p>

    <p><strong>Order Details:</strong></p>
    <p><strong>Item(s) Purchased:</strong></p>
    <ul>
        {% for item in cart_products %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <p><strong>Total Amount Paid:</strong> ${{ totals }}</p>

    <p>At Cozy & Kindled, we craft soy candles that bring warmth, comfort, and peace to your home.<br>Made from natural ingredients, our candles are designed to create a cozy, eco-conscious ambiance.<br>We hope that each flicker invites calm into your space, just as we envisioned.</p>

    <p>Your order is being processed and will be shipped soon. We’ll notify you when it’s on its way!</p>

    <p>If you have any questions or need assistance, feel free to contact us at: cozyandkindled@gmail.com.</p>
<br>
    <p>Warm regards,<br> ♡ The Cozy & Kindled Team </p>
</body>
</html>
