<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject: Order Confirmation - Thank You for Your Purchase!</title>
</head>
<body>
<p>
    Dear {{ name }},

Thank you for shopping with Cozy & Kindled! We are excited to let you know that your order has been successfully placed and your payment was received.

Order Details:

Item(s) Purchased:
{{ cart_products }}

Total Amount Paid: ${{ totals }}

At Cozy & Kindled, we craft soy candles that bring warmth, comfort, and peace to your home. Made from natural ingredients, our candles are designed to create a cozy, eco-conscious ambiance. We hope that each flicker invites calm into your space, just as we envisioned.

Your order is being processed and will be shipped soon. We’ll notify you when it’s on its way!

If you have any questions or need assistance, feel free to contact us at [Contact Information].

Warm regards,
The Cozy & Kindled Team
</p>

</body>
</html>